<!doctype html>
<!-- <html lang="{{ .Page.Language | default "en" }}"> -->
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}"></html>
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="kasraprime" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FFDD00" data-position="left" data-x_margin="18" data-y_margin="18"></script>
  </body>
</html>
